# 默认所有文本文件统一为 LF
* text=auto eol=lf

# 确保特定类型文件始终是 LF
*.html text eol=lf
*.css  text eol=lf
*.js   text eol=lf
*.yml  text eol=lf
*.yaml text eol=lf
*.md   text eol=lf
*.scss text eol=lf
*.xml  text eol=lf
*.json text eol=lf

# Windows 可执行脚本不要被当成文本修改
*.bat text eol=crlf
*.cmd text eol=crlf

# 二进制文件不要改行尾
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
*.gz  binary
*.tar binary
*.woff binary
*.woff2 binary
*.ttf binary
